@font-face { font-family: opensans; src: url('OpenSans-Semibold.ttf'); }
*{
  font-family: opensans;
  overflow: inherit;
}

.btn-nav-dash{
  border: 1px solid rgb(103,58,183);
  background-color: rgb(255,255,255);
  color: rgb(103,58,183);
  margin-bottom: 2px;
  margin-left: 2px;
}
.btn-nav-dash:hover{
  color: #fff;
  background-color: rgb(103,58,183);
}

.btn-solve{
  border: 1px solid #009688;
  background-color: rgb(255,255,255);
  color: #009688;
}
.btn-solve:hover{
  color: #fff;
  background-color: #009688;
}

.navbar-dash{
  background-color: rgb(255,255,255);
}
.btn-dash{
  margin-top: 8px;
}

#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 200%;
    overflow-y:hidden;

    background: #2c3e50;
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 300px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 300px;
}
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
}
.sidebar-nav li:hover{
    background-color: #16a085;
}
.card{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  width: 80%;
  margin: 5px;
  position: relative;
}
.card1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 98%;
  margin-top: 10px;
}
.card1:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,.23);
}
.pager{
  display:inline-block;
  background:#fff;
  margin:0px auto;
  border:0px;
  color: rgb(103,58,183);
}
#problems{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 80%;
  margin: 5px;
  position: relative;
  overflow: auto;
}
#problem{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
  position: relative;
  overflow: auto;
}