<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- viewport="device screen"  width=device screen width scale =100% -->
    <!-- Available on getbootstrap CND   -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
      <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/student_dashboard_style.css' %}" type="text/css">

</head>
<body style="background-color: rgb(245,248,250);">

  <nav class="navbar navbar-dash nav-div" style="margin-bottom:0px; ">
      <div class="container-fluid">
      <style>
          .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin-left: 0;
              float: right;
}
      </style>
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnavbar">
                  <span class="icon-bar" style="background-color:rgb(103,58,183);"></span>
                  <span class="icon-bar" style="background-color:rgb(103,58,183);"></span>
                  <span class="icon-bar" style="background-color:rgb(103,58,183);"></span>
              </button>
              <a href="#" class="navbar-brand" style="color: rgb(103,58,183);">Assignment Dashboard</a>
              <button class="btn btn-sm navbar-btn" id="menu-toggle" style="background: rgb(255,255,255);">
                <span class="glyphicon glyphicon-menu-hamburger" style="color: rgb(103,58,183); font-size:18px"></span>
              </button>
          </div>
          <!--  Comment  -->
          <!--  Menu items  -->
          <div class="collapse navbar-collapse btn-dash" id="mainnavbar"> <!-- to make this div collapsible for mobile views-->
              <!--  Right aligned items  -->
              <ul class="nav navbar-nav navbar-right" style="display: inline-block;">
                <li style="margin-right:2px;"><button class="btn btn-nav-dash">Analytics</button></li>
                <li style="margin-right:2px;"><button class="btn btn-nav-dash">Leader Board</button></li>
                <li style="margin-right:2px;"><button class="btn btn-nav-dash" onclick="location.href='/dashboard/logout.html'">Log Out</button></li>
              </ul>
          </div>
          <div>

          </div>
      </div>
  </nav>



  <div id="wrapper">

      <!--  Side Bar  -->

      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">

              <li style="color: aliceblue;">Name: {{ student_data.Name }}</li>
              <li style="color: aliceblue;">Email Id: {{ student_data.Email_id }}</li>
              <li style="color: aliceblue;">Section: {{ section.Section }}</li>
              <li style="color: aliceblue;" onclick="location.href='/dashboard/logout.html'">Log Out</li>

          </ul>
      </div>

      <!--  Main Content  -->

      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                    <div class="card card2" style="height:80px;">
                      <h1 style="display: block; margin:auto; margin-left: 24px; margin-top: 24px; color: rgb(103,58,183);">Not Submitted</h1>
                    </div>
                    <div id="nsub" class="card3 card2 container-fluid">

                        {% if problem_nsub|length == 0 %}
                        <h5 style="overflow: visible;" >There are no Non Submitted problems.</h5>
                        {% endif %}
                      {% for problem in problem_nsub %}
                      <div class="card card1" style="display:block; margin: auto; margin-top:10px; border: 1px solid #00BCD4; overflow: visible; " onclick="details(this);">
                        <button class="btn btn-solve" style="float: right; margin: 30px 48px 0px 0px;">Solve</button>
                        <h2 style="color:#00BCD4; margin-left:24px; display:flex-inline;">{{ problem.Name }}</h2>
                        <h6 style="color:#00BCD4; margin-left:24px;"><i>Submission Date: {{ problem.endDate }} 00:00</i></h6>
                        <div style="color:#00BCD4; margin-left:24px; display: none;">
                          <h5 style="color:#00BCD4;">Course: {{ problem.Course.Name }}</h5>
                          <h5 style="color:#00BCD4;">Language Available: {{ problem.Course.Name }}</h5>
                          <h5 style="color:#00BCD4;">Start date: {{ problem.startDate }} 00:00</h5>
                          <h5 style="color:#00BCD4;">Max Attempts: {{ problem.maxAttempts }}</h5>
                          <h5 style="color:#00BCD4;">Max Marks: {{ problem.maxMarks }}</h5>

                      </div>
                      </div>
                       {% endfor %}

                      <div style="padding-top:-10px; :margin:10px; text-align:center;">
                        <button class="pager">First</button>
                        <button class="pager">Prev</button>
                        <button class="pager">1</button>
                        <button class="pager">2</button>
                        <button class="pager">Next</button>
                        <button class="pager">Last</button>
                      </div>


                    </div>












                    <div class="card card2" style="height:80px;">
                      <h1 style="display: block; margin:auto; margin-left: 24px; margin-top: 24px; color: rgb(103,58,183);">Submitted</h1>
                    </div>
                    <div id="sub" class="card3 card2 container-fluid">
                        {% if problem_sub|length == 0 %}
                        <h5 style="overflow: visible;" >There are no Submitted problems.</h5>
                        {% endif %}
                        {% for problem,s in problem_sub_sol %}

                      <div id="problem" class="card card1" style="display:block; margin: auto; margin-top:10px; border: 1px solid #00BCD4; overflow: hidden" onclick="details(this);">
                        <button class="btn btn-solve" style="float: right; margin: 30px 48px 0px 0px;">Solve</button>
                        <h2 style="color:#00BCD4; margin-left:24px;">  {{ problem.Name }} </h2>
                        <h6 style="color:#00BCD4; margin-left:24px;"><i>Submission Date: {{ problem.endDate }} 00:00</i></h6>
                        <div style="color:#00BCD4; margin-left:24px; display: none;">
                          <h5 style="color:#00BCD4;">Course: {{ problem.Course }}</h5>
                          <h5 style="color:#00BCD4;">Language Available: {{ problem.Course }}</h5>
                          <h5 style="color:#00BCD4;">Start date: {{ problem.startDate }} 00:00</h5>
                          <h5 style="color:#00BCD4;">Max Attempts: {{ problem.maxAttempts }}</h5>
                          <h5 style="color:#00BCD4;">Max Marks: {{ problem.maxMarks }}</h5>
                          <h5 style="color:#00BCD4;">Total Successful Submission: {{ s }}</h5>
                      </div>
                      </div>

                      {% endfor %}
                      <div style="padding-top:-10px; :margin:10px; text-align:center;">
                        <button class="pager">First</button>
                        <button class="pager">Prev</button>
                        <button class="pager">1</button>
                        <button class="pager">2</button>
                        <button class="pager">Next</button>
                        <button class="pager">Last</button>
                      </div>

                    </div>

                  </div>
              </div>
          </div>
      </div>

  </div>

  <script>

      $("#menu-toggle").click(function(e){
         e.preventDefault();
          $("#wrapper").toggleClass("menuDisplayed");
      });

      function resizeElementHeight()
      {
        document.getElementById("nsub").style.height = {{ problems|length }}*100 + 60 +"px";
        document.getElementById("sub").style.height = {{ problems|length }}*100 + 60 +"px";
      }
      function details(element)
      {
        if(element.offsetHeight==100)
        {
          element.style.height = 250+"px";
          element.childNodes[7].style.display = "block";
        }
        else{
          element.style.height = 100+"px";
          element.childNodes[7].style.display = "none";
        }

      }
      // resizeElementHeight();
      </script>


<!-- for writing python code
{% for album in allalbum %}
//do something
{% endfor %}
-->

</body>
</html>
